%echo Generating a basic OpenPGP key
Key-Type: default
Subkey-Type: default
Name-Real: {{ aptly_gpg.name }}
Name-Email: {{ aptly_gpg.email }}
Expire-Date: 0
%no-protection
%no-ask-passphrase
%commit
%echo done
